body{
    background-color: #adadad;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    height: 250px;
    width: 500px;
    background-color: #fbf7e4;
    display: flex;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.container:hover{
    box-shadow: 4px 4px 8px rgba(112, 0, 0.2, 0.3);
}

.task input[type="text"]{
    background-color: whitesmoke;
    border-radius: 50px;
    height: 2rem;
    margin-right: 30px;
    width: 300px;
    border-color: rgba(255, 255, 255, 0.175);
    padding-left: 15px;
    font-size: 1.15rem;
    transition: 0.2s;
}
.task input[type="text"]:hover{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}



.task input[type="text"]:focus {
    border-color: black;
    outline: none;
   box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
    
}

.add{
    background-color: #2ec4b6;
    height: 2rem;
    width: 4rem;
    border-radius:15px;
    margin-right: 10px;
    cursor: pointer;
}

.add:hover{
    background-color: #1d9e90;
    
}

li{
    text-decoration: none;
}

.delete{
    background-color: transparent;
    border: 1px solid #0e8749;
    color: green;
    height: 2rem;
    width: 4rem;
    border-radius:15px;
    margin-right: 10px;
    cursor: pointer;
    margin-left: 40px 0px 40px 100px;
    font-weight: 500;
} 

.delete:hover{
    background-color: #0e8749;
    color: white;
    font-weight: 530;
}